@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap");
:root {
  --font-primary: "Inconsolata", monospace;

  --verde-principal: #48c71d;
  --verde-sombra: #4e9d1c;

  --naranja-principal: #d5894c;
  --marron-sombra: #7a3d09;

  --blancont: #fff7e8;
  --background: #0c0c0c;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  font-family: var(--font-primary);
}

body {
  min-height: 100dvh;
  background-color: var(--background);
  display: grid;
  place-items: center;
}

#app {
  width: 100%;
  max-width: 768px;
  aspect-ratio: 1/1;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 15px;
}
